{% load static %}
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Main CSS-->
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
    <!-- Font-icon css-->
    <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>Login - School Management Admin</title>
  </head>
{% block content %}
<body>
    <section class="material-half-bg">
      <div class="cover"></div>
    </section>
    <section class="login-content">
      <div class="logo">
        <h1>School Management</h1>
      </div>
      <div class="login-box">
        <form method="POST" action=""class="login-form" >
            {% csrf_token %}
            {% for fields in forms %}
            <div class="form-group">
                {{ fields }}
                
            </div>
            {% endfor %}
          <div class="form-group btn-container">

            <button class="btn btn-primary btn-block"><i class="fa fa-sign-in fa-lg fa-fw"></i>SIGN IN</button>
            
          </div>
        </form>
       
      </div>
    </section>
    <script src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/main.js' %}"></script>
    <!-- The javascript plugin to display page loading on top-->
    <script src="{% static 'js/plugins/pace.min.js' %}"></script>
{% endblock content %}
</body>
</html>